.inner {
    display: flex;
    padding: 40px 0 80px;
    justify-content: flex-start;
    align-items: center;
    column-gap: 188px;
}

.images {
    max-width: 548px;
    width: 100%;
}

.content {
    max-width: 409px;
}

.heading {
    margin-top: 8px;
    max-width: 311px;
}

.desc {
    margin-top: 28px;
    padding-right: 20px;
}

.desc:first-of-type {
    margin-top: 20px;
    max-width: 328px;
}

.btn {
    margin-top: 48px;
}
