.wrapper {
    .link {
        display: inline-flex;
        padding: 11px 20px;
        min-width: auto;
        min-height: auto;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1;
        color: var(--text-color);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: color 0.2s linear;

        &::after {
            content: unset;
        }

        &:hover {
            background: transparent;
            color: var(--red-color);
        }
    }
}
