// Normalize / Reset css

@import 'normalize.css';
@import './reset.scss';
@import '/src/assets/fonts/stylesheet.css';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

// Variables

:root {
    --primary-color: #fc5a5a;
    --secondary-color: #79d861;

    // Fonts
    --font-family: 'DM Sans';

    // background
    --background-color: #1c1c24;
    --background-secondary-color: #292932;
    --background-blue-light-color: #beecfa;

    // colors
    --white-color: #fff;
    --orange-color: #ff974a;
    --blue-color: #1e75ff;
    --blue-half-light-color: #d2efff;
    --blue-light-color: #1ab3f6;
    --yellow-color: #f6ff82;
    --violet-color: #dcb0ff;
    --red-color: #eb5757;
    --purple-color: #907bff;

    // texts
    --text-color: #b0b0b0;
    --text-color-active: #eb5757;
}

// CSS

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.6rem;
    overflow: overlay;
    display: flex;
    flex-direction: column;
    background: var(--background-color);
}

// CSS Scrollbar

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
    height: 14px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba($color: var(--primary-color), $alpha: 0.06);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

// Inherit Input

button,
input,
[tabindex] {
    outline: none;
    border: none;
    font-family: inherit;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

// Common CSS

.wide {
    max-width: 1250px;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
}

.section__heading {
    color: var(--white-color);
    font-size: 3.4rem;
    font-weight: 500;
    line-height: 1.29412;
}

.section__heading--large {
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.15625;
}

.section__desc {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}

.section__title {
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}
