.service {
    .inner {
        padding: 80px 0;
        text-align: center;
    }

    .heading {
        max-width: 51rem;
        margin: 8px auto 0;
    }

    .content {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 420px);
        justify-content: center;
        align-content: center;
        gap: 40px;
    }
}
