.footerInfo {
    .wide-footerInfo {
        max-width: 990px;
    }
}

.inner {
    padding-bottom: 100px;
    position: relative;
}

.title {
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 500;
    line-height: normal;
}

.brands {
    display: flex;
    margin-top: 45px;
    justify-content: space-between;
    row-gap: 56px;
    flex-wrap: wrap;
}

.brand {
    display: inline-block;
    margin: 0 auto;
    color: var(--white-color);
}

.cta {
    display: flex;
    margin-top: 108px;
    justify-content: space-between;
    align-items: center;
    padding: 48px 93px 54px 60px;
    background: var(--background-secondary-color);
    border-radius: 12px;
}

.info {
    max-width: 386px;
    width: 100%;
}

.heading {
    color: var(--white-color);
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 1.29412;
}

.desc {
    margin-top: 16px;
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}

.btn {
    margin-top: 40px;
    background: var(--primary-color);
    transition: opacity 0.2s linear;

    &:hover {
        opacity: 0.8;
    }
}

.image {
    max-width: 349px;
    max-height: 239px;
}

.effect {
    position: absolute;
    color: var(--secondary-color);
    z-index: -1;
    right: -53px;
    bottom: 51px;
}

// =====Responsive=====

// PC ( > 992 )
@media screen and (min-width: 992px) {
}

// Tablet & Mobile ( < 991 )
@media screen and (max-width: 991px) {
    .footerInfo {
        .wide-footerInfo {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
        }

        .inner {
            padding-bottom: 40px;
            margin-right: auto;
            margin-left: auto;
        }

        .brands {
            margin-top: 40px;
            column-gap: 40px;
        }

        .cta {
            margin-top: 70px;
        }
    }
}

// Tablet ( 768 < x < 991 )
@media screen and (min-width: 768px) and (max-width: 991px) {
    .footerInfo {
        .brands {
            row-gap: 56px;
        }
    }
}

// Mobile ( < 767 )
@media screen and (max-width: 767px) {
    .footerInfo {
        .title {
            font-size: 1.8rem;
        }

        .brands {
            flex-direction: column;
            margin-top: 40px;
            row-gap: 40px;
        }

        .brand {
            margin-right: auto;
            margin-left: 0;
        }

        .cta {
            background: transparent;
            padding: 0;
            flex-direction: column;
        }

        .info {
            max-width: 100%;
        }

        .heading {
            font-size: 3rem;
            line-height: 1.26667;
        }

        .desc {
            margin-top: 15.26px;
            font-size: 1.2rem;
        }

        .btn {
            margin-top: 20.23px;
        }

        .image {
            margin-top: 39.66px;
            max-width: 100%;
            max-height: 100%;
        }

        .effect {
            display: none;
        }
    }
}
