.status {
    position: relative;

    .wide-status {
        max-width: 980px;
    }

    .inner {
        padding: 80px 0 56px;
    }

    .heading {
        margin-top: 8px;
        max-width: 41rem;
    }

    .content {
        display: grid;
        margin-top: 60px;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 60px;
    }

    .effect {
        position: absolute;
        width: 6.8rem;
        height: 20.4rem;
        color: var(--red-color);
        background-image: url('/assets/images/status/effect.svg');
        background-repeat: no-repeat;
        top: 25.87268993839836%;
        right: 0;
    }
}
